/* css for dog party assignment. version 3.0*/

body {
  font-family: 'Raleway', Arial, sans-serif;
  width: 890px;
  margin: 0px auto;
  background-color: #FFFFFF;
}
/* styling for the navigation bar*/
.dog-icon {
  float: left;
  display: inline-block;
  padding: 5px;
}
.nav-bar {
  float: right;
}
nav {
  display: inline-block;
  width: 890px;
  background-color: #92E0E5;
}
nav ul li{
  display: inline-block;
}
nav a {
  color: white;
  text-decoration: none;
  padding: 0px 10px;
}
/* styling for the top banner */
.top-banner {
  background-image: url("images/park.jpg");
  background-repeat: no-repeat;
  margin: 0px auto;
  text-align: center;
  width: 890px;
  padding-bottom: 15px;
}
.banner-dog {
  border-radius: 220px;
  border-style: solid;
  border-color: #3A8CAC;
  border-width: 3px;
}
.round-corner {
  border-radius: 220px;
  border-style: solid;
  border-color: #3A8CAC;
  border-width: 1px;
}
/* rules for the position and style of the three articles*/
.one-third {
  display: inline-block;
  width: 30%;
  text-align: center;
  vertical-align: top;
  padding: 10px;
  margin-top: 0px;
}

button {
  display: block;
  text-align: center;
  font-family: 'Raleway', Arial, sans-serif;
  font-size: .75em;
  margin: 0px auto;
  width: 100px;
  height: 30px;
  color: #4D95AD;
  background-color: #FFFFFF;
  border: 2px #3A8AA6 solid;
}
/* footer styles */

footer ul li {
  display: inline-block;
  text-align: center;
  margin: 0px auto;
  padding: 15px;
}
footer {
  color: #FFFFFF; /* white text*/
  background-color: #3F8DA7;
  text-align: center;
  padding: 10px;
}
footer a {
  color: #FFFFFF; /* white text*/

}
#social-media {
  display: inline-block;
  margin: 0px auto;
  padding: 0px;
}
